@{
    ViewData["Title"] = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Kółko i krzyżyk</h2>
        <div class="alert alert-info">
            <p>Kółko i krzyżyk jest grą turową dla dwóch osób.</p>
            <p>Dwóch graczy wybiera, kto będzie grał krzyżykiem, a kto kółkiem. Następnie na przemian oznaczają po jednym polu siatki 3x3.</p>
            <p>Wygrywa gracz, który zdoła umieścić trzy swoje znaki w linii pionowej, poziomej lub na ukos.</p>
        </div>
        <p>
            <h3>Zarejestruj się <a asp-controller="UserRegistration" asp-view="Index">tutaj</a></h3>
        </p>
    </div>
</div>